RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^v2/(strata|fallout)/(.*?).api index.php?mode=$1&output=$2 [L,NC,QSA]
RewriteRule ^v2/(strata)/([0-9]+)/(.*?).api index.php?mode=$1&length=$2&output=$3 [L,NC,QSA]
RewriteRule ^v2/(strata)/([a-z]+)/(.*?).api index.php?mode=$1&start=$2&output=$3 [L,NC,QSA]
RewriteRule ^v2/(strata)/([0-9]+)/([a-z]+)/(.*?).api index.php?mode=$1&length=$2&start=$3&output=$4 [L,NC,QSA]
RewriteRule ^v1/(strata|fallout)/(.*?).api index.php?mode=$1&output=$2 [L,NC,QSA]
RewriteRule ^v1/(strata)/([0-9]+)/(.*?).api index.php?mode=$1&length=$2&output=$3 [L,NC,QSA]
RewriteRule ^v1/(strata)/([a-z]+)/(.*?).api index.php?mode=$1&start=$2&output=$3 [L,NC,QSA]
RewriteRule ^v1/(strata)/([0-9]+)/([a-z]+)/(.*?).api index.php?mode=$1&length=$2&start=$3&output=$4 [L,NC,QSA]
